@import "../../vars.css";

.container {
  display: flex;
    flex-direction: column;
    border-radius: 5px;
    background: rgba(165, 215, 232, 0.2);
    padding: 18px 24px;
    max-width: 400px;
    height: 700px;
}


.image {
  margin-bottom: 30px;
  border-radius: 5px;
}

.title {
  font-size: 25px;
  margin-bottom: 20px;
  font-weight: 700;
  text-align: center;
}

.description {
  margin-bottom: 20px;
  margin-top: 6px;
  font-size: 20px;
  font-weight: 400;
}

.skills {
  width: 100%;
  margin-top: 14px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 6px;
  list-style: none;
  margin-bottom: auto;
  
}

.skill {
  font-size: 15px;
  font-weight: 200;
  border-radius: 20px;
  background: var(--color-dark);
  padding: 5px 22px;
  width: 30%;
 text-align: center;

}

.links {
width: 100%;
  margin-top: auto;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-around;

}

.link {
  text-decoration: none;
  color: var(--color-text);
  font-size: 20px;
  font-weight: 400;
  border-radius: 80px;
  background: var(--color-primary);
  padding: 1px 22px;
  width:48%;
    display: flex;
    justify-content: space-around;
  gap: 10px;
  
}
.container:hover {
 
  background: rgba(165, 215, 232, 0.1);

}